<div class="health-band {{band-class}}">
  <div class="health-band__container">
    <div class="row">
      <div class="col-lg-3">
        <h2>Search for a clinical trial</h2>
        <p class="au-introduction">Search of the Australian New Zealand Clinical Trials Registry (ANZCTR). <a href="#">Find out more</a></p>
      </div>
      <div class="col-lg-9 standard-gap--mobile-only">
        {{> includes/act/search-form--simple
            inline="au-form__item--inline"
        }}
      </div>
    </div>
  </div>
</div>