<div class="health-tabs-wrapper">
  <div class="health-tabs-wrapper-inner">
    <ul class="health-tabs au-link-list au-link-list--inline">
      <li class="active"><a href="search.html">Search</a></li>
      <li><a href="search-advanced.html">Advanced search </a></li>
    </ul>
  </div>
</div>