<form action="#" class="au-form">
  <div class="au-form__item">
    <label for="anzctr-search">
      Keyword
    </label>

    <input class="au-text-input au-text-input--block" type="text" id="anzctr-search" name="searchText" />
  </div>
  <div class="au-form__item {{inline}}">
    <label for="favourite">
      Broad health condition
    </label>
    <select class="au-select" name="conditionCategory" id="conditionCategory">
      <option value="All" selected="selected">All</option><option value="Alternative and Complementary Medicine">Alternative and Complementary Medicine</option><option value="Anaesthesiology">Anaesthesiology</option><option
        value="Blood"
      >Blood</option><option value="Cancer">Cancer</option><option value="Cardiovascular">Cardiovascular</option><option value="Diet and Nutrition">Diet and Nutrition</option><option value="Ear">Ear</option><option value="Eye">Eye</option><option
        value="Human Genetics and Inherited Disorders"
      >Human Genetics and Inherited Disorders</option><option value="Infection">Infection</option><option value="Inflammatory and Immune System">Inflammatory and Immune System</option><option value="Injuries and Accidents">Injuries and Accidents</option><option
        value="Mental Health"
      >Mental Health</option><option value="Metabolic and Endocrine">Metabolic and Endocrine</option><option value="Musculoskeletal">Musculoskeletal</option><option value="Neurological">Neurological</option><option
        value="Oral and Gastrointestinal"
      >Oral and Gastrointestinal</option><option value="Other">Other</option><option value="Physical Medicine / Rehabilitation">Physical Medicine / Rehabilitation</option><option value="Public Health">Public Health</option><option
        value="Renal and Urogenital"
      >Renal and Urogenital</option><option value="Reproductive Health and Childbirth">Reproductive Health and Childbirth</option><option value="Respiratory">Respiratory</option><option value="Skin">Skin</option><option
        value="Stroke"
      >Stroke</option><option value="Surgery">Surgery</option>
    </select>
  </div>
  <div class="au-form__item {{inline}}">
    <label for="conditionCode">
      Specific condition
    </label>
    <div class="au-form__item-description" disabled>
      First, select a broad health condition.
    </div>
    <select class="au-select" name="conditionCode" id="conditionCode">
      <option value="All" selected="selected">All</option>
    </select>
  </div>
  <div class="au-form__item">
    <button class="au-btn">Submit</button>
    <button class="au-btn au-btn--tertiary">Reset</button>
  </div>
</form>