
{{#> layouts/boilerplate-global title="Updated boilerplate and band demo" summary="This page uses a fixed container with slightly simplified bands." }}

    {{!-- Subheader --}}
    {{#*inline "subheader-block"}}
        {{> includes/subheader 
            subheader-class="health-sub-header--dark"
        }}
    {{/inline}}

    {{#*inline "main-block"}}
        <main class="col-xs-12 col-sm-8" id="content" role="main">

            {{> includes/band
                band-title="Band fully-contained (primary)"
                band-content="health-band health-band--primary"
                band-class="health-band--primary"
            }}

            {{> includes/band
                band-title="Band with no background"
                band-content="health-band"
                band-class=""
            }}

            {{> includes/band
                band-title="Band fully-contained (secondary)"
                band-content="health-band health-band--secondary"
                band-class="health-band--secondary"
            }}

            {{> includes/band
                band-title="Band fully-contained (tertiary)"
                band-content="health-band health-band--tertiary"
                band-class="health-band--tertiary"
            }}

            {{> includes/band
                band-title="Band fully-contained (tertiary 2)"
                band-content="health-band health-band--tertiary-2"
                band-class="health-band--tertiary-2"
            }}

            {{> includes/band
                band-title="Band fully-contained (neutral)"
                band-content="health-band health-band--neutral"
                band-class="health-band--neutral"
            }}


            {{> includes/stats }}

            {{> includes/band--stats
                band-class="health-band--secondary"
            }}


        </main>
    {{/inline}}

    {{#*inline "sidenav-block"}}
        <aside class="col-xs-12 col-sm-4 au-side-nav--right rs_skip" role="navigation">
            {{> includes/nav--side }}
        </aside>
    {{/inline}}


{{/layouts/boilerplate-global}}
