{{!-- pages/page-one.hbs --}}

{{#> layouts/base title="HDS Starter Kit" }}
    {{#*inline "nav-block"}}
        {{> includes/main-menu
                user = user
                hero-src="https://picsum.photos//1500/500"
                hero-alt="Hero 1 alt title"
                links=menu
        }}

    {{/inline}}
  

    {{!-- Main content --}}
    {{#*inline "main-block"}}
        <h2>Sub-heading</h2>
        <p>Summary text including updated timestamp.</p>

        {{> includes/tiles
            tiles=tiles
        }}

        {{> includes/table }}

    {{/inline}}

    {{#*inline "sidenav-block"}}
    
        {{> includes/sidenav }}

    {{/inline}}


    {{#*inline "footer-block"}}
        {{> includes/footer
                footer-text="Energistically extend value-added e-services without client-based manufactured products. Uniquely reintermediate open-source."
        }}
    {{/inline}}
{{/layouts/base}}
