
{{#> layouts/boilerplate title="Standard 2-pane page" summary="This is the page summary. Thanks for the memories."}}

    {{!-- Main content --}}
    {{#*inline "main-block"}}
        {{> includes/nav--onthispage }}
        {{> includes/sample--bodycontent }}
        <p>Any other page content</p>
    {{/inline}}

    {{#*inline "sidenav-block"}}
        {{> includes/nav--side }}
    {{/inline}}

{{/layouts/boilerplate}}
