
{{#> layouts/boilerplate-landing-page title="Home page" body-class="home" summary="This is the home page and demonstrates how to include partials and pass properties to them." }}

    {{#*inline "header-block"}}
        {{> includes/header
            header-coa-gov=true
            header-img="img/act_logo.png"
            header-img-alt="Austalian Clinical Trials"
        }}
    {{/inline}}

    {{#*inline "nav-block"}}
        {{> includes/nav--primary }}
    {{/inline}}

    {{!-- Subheader region (defined in layouts/boilerplate-landing-page --}}
    {{#*inline "subheader-block"}}

        {{> includes/act/hero
            hero-class="health-hero--bg-gradient health-hero--overlap-bottom"
            hero-title="Hero gradient"
            hero-image="img/sample-hero.jpg"
            hero-summary="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis a dolorum deleniti, repudiandae amet neque, odit fugiat magni, blanditiis corporis repellendus iure eaque quasi illum iste in tempora dolor numquam."
            hero-cta-primary="Primary button"
            hero-cta-secondary=""
            hero-cta="Call-to-action link"
        }}
    {{/inline}}

    {{#*inline "main-block"}}

        {{> includes/act/home-search 
            band-class="health-band--overlap-top"
        }}

        <div class="health-band health-band--full-width-bg health-band--neutral">
            <div class="health-band__container">
                {{> includes/act/home--features
                    grid-num-xs="1"
                    grid-num-md="2"
                    grid-num-lg="2"
                }}
            </div>
        </div>
 
        {{> includes/act/band--featured-video }}

        {{!-- {{> includes/cards
            grid-title="News"
            grid-num-xs="1"
            grid-num-md="2"
            grid-num-lg="3"
            grid-title="Grid of cards"
        }}

        <div class="health-band health-band--full-width-bg health-band--neutral">
            <div class="health-band__container">
                {{> includes/cards
                    grid-num-xs="1"
                    grid-num-md="2"
                    grid-num-lg="4"
                    grid-title="Another grid of cards in a band"
                }}
            </div>
        </div> --}}
    
    {{/inline}}


{{/layouts/boilerplate-landing-page}}
