.health-childhood-influenza-vaccination-campaign {
    --primary-gradient-bg--start: #A4D0EE;
    --primary-gradient-bg--end: #A4D0EE;
    --secondary-gradient-bg--start: #6fb5e4;
    --secondary-gradient-bg--end: #6fb5e4;
    --tertiary-gradient-bg--start: #F7CF66;
    --tertiary-gradient-bg--end: #F7CF66;
    --subheader-gradient-bg--start: #6fb5e4;
    --subheader-gradient-bg--end: #6fb5e4;
    --subheader-gradient-content-bg--start: transparent;
    --subheader-gradient-content-bg--end: transparent;
    --subheader-minheight--desktop: 500px;


    // Other custom styles
    .health-sub-header {
        background-image: url(https://picsum.photos/id/867/1920/700) !important;
        // background-image: url("/themes/custom/hga/images/campaigns/childhood-influenza-vaccintion/hero-bg.jpg");

        // &__content {

        //     // On anything 768px or wider.
        //     @include AU-media(sm) {
        //         position: relative;
        //         top: 11.5rem;
        //         padding: 0;
        //         padding-left: 2rem;
        //         color: black;
        //     }
        // }
    }
}