.health-for-all-of-us-campaign {
    // Custom properties for colours
    --primary-gradient-bg--start: #87A8B2;
    --primary-gradient-bg--end: #87A8B2;
    --secondary-gradient-bg--start: #EFE4CA;
    --secondary-gradient-bg--end: #EFE4CA;
    --tertiary-gradient-bg--start: #B58DA7;
    --tertiary-gradient-bg--end: #B58DA7;
    --subheader-gradient-bg--start: #87A8B2;
    --subheader-gradient-bg--end: #87A8B2;
    --subheader-gradient-content-bg--start: hsla(194, 22%, 61%, 0.902);
    --subheader-gradient-content-bg--end: hsla(194, 22%, 61%, 0.902);
    --subheader-minheight--desktop: 500px;

    // Other custom styles
    .health-sub-header {
        // background-image: url('/themes/custom/hga/images/campaigns/for-all-of-us/hero-bg.jpg');
    }
}