// https://health.govcms.gov.au/campaigns/dont-fool-around-with-syphilis

.health-cervical-screening-self-collection-campaign {
    // Custom properties for colours
    --primary-gradient-bg--start: #DBD4EB;
    --primary-gradient-bg--end: #DBD4EB;
    --secondary-gradient-bg--start: #584099;
    --secondary-gradient-bg--end: #584099;
    --tertiary-gradient-bg--start: #DBD4EB;
    --tertiary-gradient-bg--end: #DBD4EB;
    --subheader-gradient-bg--start: #DBD4EB;
    --subheader-gradient-bg--end: #DBD4EB;
    --subheader-gradient-content-bg--start: transparent;
    --subheader-gradient-content-bg--end: transparent;
    --subheader-minheight--desktop: 500px;

    // Other custom styles
    .health-sub-header {
        // TODO - add path to image
        // background-image: url("TO BE ADDED");
    }
}