.healthy-pregnancy-campaign {
    --primary-gradient-bg--start: #f4f3d4;
    --primary-gradient-bg--end: #f4f3d4;
    --secondary-gradient-bg--start: #d8f0b0;
    --secondary-gradient-bg--end: #d8f0b0;
    --tertiary-gradient-bg--start: #ffd772;
    --tertiary-gradient-bg--end: #ffd772;
    --subheader-gradient-bg--start: #f4f3d4;
    --subheader-gradient-bg--end: #f4f3d4;
    --subheader-gradient-content-bg--start: transparent;
    --subheader-gradient-content-bg--end: transparent;
    --subheader-minheight--desktop: 500px;

    // .health-sub-header {
    //     background-image: url(https://picsum.photos/id/867/1920/700) !important;
    // }
}