// No PRD SASS

.hpv-vaccine-for-teens-tips-for-parents {
    // Custom properties for colours
    --primary-gradient-bg--start: #F1F1F2;
    --primary-gradient-bg--end: #F1F1F2;
    --secondary-gradient-bg--start: #E5E5E5;
    --secondary-gradient-bg--end: #E5E5E5;
    --tertiary-gradient-bg--start: #0095a2;
    --tertiary-gradient-bg--end: #0095a2;
    --subheader-gradient-bg--start: #F1F1F2;
    --subheader-gradient-bg--end: #F1F1F2;
    --subheader-gradient-content-bg--start: #0095a2;
    --subheader-gradient-content-bg--end: #0095a2;
    --subheader-minheight--desktop: 500px;

    // Other custom styles
    .health-sub-header {
        background-image: url(https://picsum.photos/id/867/1920/700) !important;
        //     background-image: url("/themes/custom/hga/images/campaigns/hpv-teens-vaccine/hero-bg.jpg");
    }
}