.health-maternal-influenza-vaccination-campaign {
    // Custom properties for colours
    --primary-gradient-bg--start: #A9CCD0;
    --primary-gradient-bg--end: #A9CCD0;
    --secondary-gradient-bg--start: #DA9391;
    --secondary-gradient-bg--end: #DA9391;
    --tertiary-gradient-bg--start: #00868b;
    --tertiary-gradient-bg--end: #00868b;
    --subheader-gradient-bg--start: #A9CCD0;
    --subheader-gradient-bg--end: #A9CCD0;
    --subheader-gradient-content-bg--start: transparent;
    --subheader-gradient-content-bg--end: transparent;--subheader-minheight--desktop: 500px;

    // Other custom styles
    .health-sub-header {
        background-image: url(https://picsum.photos/id/867/1920/700) !important;
        // background-image: url("/themes/custom/hga/images/campaigns/maternal-influenze/hero-bg.jpg");
    }

}