// https://health.govcms.gov.au/campaigns/dont-fool-around-with-syphilis

.syphilis-campaign {
    // Custom properties for colours
    --primary-gradient-bg--start: #95e6e1;
    --primary-gradient-bg--end: #95e6e1;
    --secondary-gradient-bg--start: #EDC2F5;
    --secondary-gradient-bg--end: #EDC2F5;
    --tertiary-gradient-bg--start: #000456;
    --tertiary-gradient-bg--end: #000456;
    --subheader-gradient-bg--start: #000456;
    --subheader-gradient-bg--end: #000456;
    --subheader-gradient-content-bg--start: transparent;
    --subheader-gradient-content-bg--end: transparent;
    --subheader-minheight--desktop: 500px;

    // Other custom styles
    .health-sub-header {
        background-image: url(https://picsum.photos/id/867/1920/700) !important;
        // background-image: url("/themes/custom/hga/images/campaigns/syphalis/hero-bg.jpg");
    }
}