{{!-- layouts/base.hbs --}}
<!doctype html>
<html>
<head>
    <title>
        {{#if title}}
            {{title}}
        {{else}}
            Base Page Title
        {{/if}}
    </title>
    <!--    <link rel="stylesheet" href="main.css">-->
    {{#> head-block}}
    {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
    <script src="js/jquery.min.js"></script>
    <script src="js/anchorific.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>

    <script src="js/jquery.once.min.js"></script>
    <script src="js/lazyload.min.js"></script>
    <script src="js/tippy.all.min.js"></script>

    <script src="js/govau-ds.min.js"></script>
    <script src="js/health.accordion.min.js"></script>
    <script src="js/health.backtotop.min.js"></script>
    <script src="js/health.fancybox.min.js"></script>
    <script src="js/health.fieldcounter.min.js"></script>
    <script src="js/health.inpagenav.min.js"></script>
    <script src="js/health.lazyload.min.js"></script>
    <script src="js/health.search.min.js"></script>
    <script src="js/health.tooltip.min.js"></script>
    <script src="js/health.video.min.js"></script>

    <link rel="stylesheet" href="js/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body class="au-grid au-body">
{{#> nav-block}}
{{!-- Hero content goes here. --}}
{{/nav-block}}
        {{#> hero-block}}
{{!-- Hero content goes here. --}}
        {{/hero-block}}
<div class=" standard-gap">
    <div class="container full-width">
        <div class="row">
            {{#> main-block}}
            {{!-- Hero content goes here. --}}
            {{/main-block}}
        </div>
    </div>
</div>

<footer class="au-footer au-footer--dark au-body au-body--dark standard-gap" role="contentinfo">
    <div class="container">
    <!--        {{#> footer-block}}-->
        <!--            {{> includes/footer }}-->
            <!--        {{/footer-block}}-->
    </div>
</footer>

{{#> scripts-block}}
{{!-- Custom scripts per page can be added. --}}
{{/scripts-block}}
</body>
</html>