<!doctype html>
<html lang="en">
    <head>
        <title>
            {{#unless title}}
                HDS Boilerplate - standard page
            {{/unless}}
        </title>
        
        {{> includes/head }}

    </head>

    <body class="au-grid {{body-class}}">
        <div class="au-body">
            {{> includes/nav--skipto }}

            {{#> header-block }}
            {{/header-block}}
            
            {{#> nav-block}}
                {{> includes/act/nav--dropdown 
                    dropdown-type-class="au-main-nav--dropdown-columns"
                    dropdown-layout-class=""
                }}
            {{/nav-block}}

            {{#> subheader-block}}
                {{!-- Subheader block --}}
            {{/subheader-block}}

            {{!-- Page layout --}}
            <div class="container health-content">
                <div class="row">
                    {{!-- 2-pane --}}
                   <div class="col-sm-8" id="content">
                        <main class="main-content" role="main">
                            <div class="region region-content">
                                <article>
                                    {{#> main-block}}
                                        {{!-- Main content goes here. --}}
                                    {{/main-block}}
                                </article>
                            </div>

                            <div class="region--content_bottom">
                                {{#> postbody-block}}
                                    {{!-- Post-body goes here. --}}
                                    {{> includes/footer--standard-page }}
                                    {{> includes/anything-wrong }}
                                {{/postbody-block}}
                            </div>
                        </main>
                    </div>

                    <div class="col-sm-4">
                        <aside class="au-side-nav--right rs_skip" role="navigation" aria-label="side navigation">
                            {{#> sidenav-block}}
                                {{!-- Side goes here. --}}
                            {{/sidenav-block}}
                        </aside>
                    </div>
                </div>
            </div>
        </div>

        <footer class="au-footer au-footer--dark au-body au-body--dark" role="contentinfo">
            <div class="container">
                {{#> footer-block}}
                    {{> includes/footer }}
                {{/footer-block}}
            </div>
        </footer>

        {{> includes/backtotop }}

        {{#> scripts-block}}
            {{!-- Custom scripts per page can be added. --}}
        {{/scripts-block}}
    
    </body>
</html>