// Flex header to accommodate text or lockup image with logo
.au-body {

    .au-header__flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @include AU-media('md') {
            flex-direction: row;
            flex-wrap: nowrap;
        }

        // Department coat of arms
        .au-header__logo {
            max-width: 400px;
            float: none;
            margin: 0;
        }

        // Australian Government coat of arms
        &.au-header--ausgov {
            flex-direction: row;
            gap: 1rem;
            @include AU-space(padding-top, 0.5unit);

            @include AU-media('md') {
                gap: 2rem;
                @include AU-space(padding-top, 0);
            }

            .au-header__logo {
                max-width: 33%;
                max-width: 33vw;

                @include AU-media('md') {
                    max-width: 320px;
                }
            }

            .au-header__text,
            .au-header__lockup {
                border-left: 1px solid #7e7e7e;
                padding-left: 1rem;
            }

        }

        // Text
        .au-header__text {
            margin: 0.75rem 0;
            text-align: center;
            flex-grow: 1;

            @include AU-media('md') {
                text-align: left;
                // Align site title and description automatically
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                &:has(.au-header__subline) {
                    flex-direction: column;
                }

                .au-header__subline {
                    margin: 0;
                }
            }
        }

        // Lockup image
        .au-header__lockup {
            margin: 0.75rem 0;
        }
    }

    // Style the elements
    .au-header {

        .au-header__text,
        .au-header__lockup {
            @include AU-media('md') {
                border-left: 1px solid #7e7e7e;
                padding-left: 2rem;
            }
        }

        // Switch stacked/inline based on breakpoint
        .au-header__logo-image--hidden {
            &-mobile {
                display: none;

                @include AU-media('md') {
                    display: block;
                }
            }

            &-desktop {
                display: block;

                @include AU-media('md') {
                    display: none;
                }
            }
        }

        // Site title
        .au-header__heading {
            @extend .au-display-xl;
        }

        // Site subline (optional)
        .au-header__subline {
            @extend .au-display-lg;
            @extend .au-display--light;
            @extend .au-display--inline;
            font-weight: 400;
        }
    }
}