// HGA sub-header variant
.health-sub-header {

    // HGA variant
    &#{&}--dark {
        background-color: $header-bg-colour--dark;
        background: $header-bg-gradient--dark;

        a {
            color: $AU-colordark-foreground-text;

            &:hover {
                color: $AU-colordark-foreground-text;
                text-decoration: none;
            }
        }

        // TODO refactor to move to component itself using
        // .au-introduction--dark { dark styles} // The dark variant
        // .au-introduction {
        // [class*="--dark"] & { dark styles} // The standard variant inside a *--dark parent
        // } 
        h1,
        p,
        .au-introduction {
            color: $AU-colordark-foreground-text;
        }
    }
}