/**
 * @file
 * Override existing colour variables or define new ones.
 */
$gravitas-grey: #333333;
$white: #fff;

// ASK palette (to override HDS colours)
// These colour variables should be customised for each site and mapped to implementation via _colours-map.scss

// ASK sample colours
$ask-primary: #2C3333;
$ask-primary--alt: lighten($ask-primary, 20%);
$ask-secondary: #395B64;
$ask-secondary--alt: lighten($ask-secondary, 20%);
$ask-tertiary: #489799;
$ask-tertiary--alt: lighten($ask-tertiary, 20%);
$footer-start: #1c1c1c;
$footer-end: lighten($footer-start, 20%);
$footer-border:#000000;
$primary-bg-gradient-colour--start: #2C3333;
$primary-bg-gradient-colour--end: lighten($primary-bg-gradient-colour--start, 20%);
$subheader-gradient-content-bg--start: #d0d0d0;
$subheader-gradient-content-bg--end: #f9f9f9;
$main-nav-border-colour: #cacaca;