.CAMPAIGNCLASS {
    // Locally-scoped variables
    $colour-primary: ;
    $colour-secondary: ;
    $colour-tertiary: ;

    .au-body {

        // Sub-header
        .health-sub-header {
            background-image: url(IMAGE);

            &__content {
                background: transparent;
            }
        }

        // Bands
        .health-band {
            &--primary {
                background: $colour-primary;
            }

            &--secondary {
                background: $colour-secondary;
            }

            &--tertiary {
                background: $colour-tertiary;
            }
        }

    }
}