.health-for-all-of-us-campaign {
    // Locally-scoped variables
    $colour-primary: #87A8B2;
    $colour-primary-bg: rgba(135, 168, 178, .9);
    $colour-secondary: #EFE4CA;
    $colour-tertiary: #B58DA7;

    .au-body {

        // Sub-header
        .health-sub-header {
            background-image: url('https://www.health.gov.au/sites/default/files/styles/hero_image/public/images/campaigns/2021/10/prmotivator_web_1920x700_damien12.jpg?itok=ppmMbIXO');

            &__content {
                background: $colour-primary-bg;
                background: linear-gradient(to right, $colour-primary, $colour-primary-bg);

                color: $colour-foreground-text--dark;

                @include AU-media(sm) {
                    color: $colour-foreground-text--dark;
                    background-color: $colour-primary-bg;
                }

                .au-introduction {
                    color: $colour-foreground-text--dark;
                }
            }
        }

        // Bands
        .health-band {
            &--primary {
                background: $colour-primary;
            }

            &--secondary {
                background: $colour-secondary;
            }

            &--tertiary {
                background: $colour-tertiary;
            }
        }

    }
}