.healthy-pregnancy-campaign {
    // Locally-scoped variables
    $colour-primary: rgb(216, 240, 176);
    $colour-secondary: #eb9ca5;
    $colour-tertiary: #f9f6d4;

    .au-body {

        // Sub-header
        .health-sub-header {
            background-image: url("https://www.health.gov.au/sites/default/files/styles/hero_image/public/images/campaigns/2021/06/healthy-pregnancy-hero-image_1920x700.png?itok=8t-bUp5W");

            &__content {
                background-image: none;
                background-color: transparent;
                color: $AU-colordark-foreground-text;

                @include AU-media(sm) {
                    color: $AU-color-foreground-text;
                }

                .au-introduction {
                    color: $AU-colordark-foreground-text;

                    @include AU-media(sm) {
                        color: $AU-color-foreground-text;
                    }
                }
            }
        }

        // Bands
        .health-band {
            &--primary {
                background: $colour-primary;
            }

            &--secondary {
                background: $colour-secondary;
            }

            &--tertiary {
                background: $colour-tertiary;
            }
        }

    }
}