.health-maternal-influenza-vaccination-campaign {
    // Locally-scoped variables
    $colour-primary: #A9CCD0;
    $colour-secondary: #DA9391;
    $colour-tertiary: #00868b; // Dark

    .au-body {

        // Sub-header
        .health-sub-header {
            background-image: url("https://www.health.gov.au/sites/default/files/styles/hero_image/public/images/campaigns/2022/04/doh_flu1344_maternal_homepage_banner_2_1920x700_0.png?itok=RJXTJICK");

            &__content {
                background-image: none;
                background-color: transparent;
                color: $AU-colordark-foreground-text;

                @include AU-media(sm) {
                    color: black;
                }

                .au-introduction {
                    color: $AU-colordark-foreground-text;

                    @include AU-media(sm) {
                        color: black;
                    }
                }
            }
        }

        // Bands
        .health-band {
            &--primary {
                background: $colour-primary;
            }

            &--secondary {
                background: $colour-secondary;
            }

            &--tertiary {
                background: $colour-tertiary;
                @extend %band--dark;
            }
        }

    }
}