<div class="health-band {{band-class}}">
  <div class="container">
    <div class="row">
      <h2>Cards</h2>
      <ul class="health-card-list">
        <li class="col-sm-4">{{> includes/hds-components/card }}</li>
        <li class="col-sm-4">{{> includes/hds-components/card }}</li>
        <li class="col-sm-4">{{> includes/hds-components/card }}</li>
      </ul>
    </div>
    <div class="row">
      <h2>Cards (image)</h2>
      <ul class="health-card-list">
        <li class="col-sm-4">{{> includes/hds-components/card--image }}</li>
        <li class="col-sm-4">{{> includes/hds-components/card--image }}</li>
        <li class="col-sm-4">{{> includes/hds-components/card--image }}</li>
      </ul>
    </div>
    <div class="row standard-gap">
      <div class="col-xs-12 text--align-right">
        <a href="#" class="au-cta-link">All news</a>
      </div>
    </div>
  </div>
</div>