<div class="au-callout {{callout-class}}">
  <h2 class="au-display-md">Callout title <code>{{callout-class}}</code></h2>
  More than 20 almost-complete t rex skeletons have been found. The most perfect, nicknamed Sue, was unearthed in South Dakota, USA, 20 years ago.
</div>