<a
  class="health-card health-card--shadow health-card--cta health-card--top-highlight health-card--colour1"
  href="/initiatives-and-programs/national-bowel-cancer-screening-program/about-the-national-bowel-cancer-screening-program"
  style="height: 206px;"
>
  <h3 class="health-card__title au-display-md" id="learn-about-the-program">Learn about the program</h3>
  <div class="health-card__text">Understand why it's important to have regular bowel screening tests.</div>
</a>