.au-body {
    .health-band {

        // Colours
        &.health-band {
            &--primary {
                @include background-style($colour-complementary-blue-dark, $colour-complementary-blue-bg);
            }

            &--secondary {
                @include background-style($colour-primary-teal-bg, $colour-primary-teal);
            }

            &--tertiary {
                @include background-style($colour-complementary-skyblue-dark, $colour-complementary-skyblue-bg);
            }

            &--quaternary {
                @include background-style($colour-primary-blue, $colour-primary-blue-bg);
            }

            &--neutral-1 {
                @include background-style($colour-light, $colour-lightest);
            }

            &--neutral-2 {
                @include background-style($colour-lightest, $colour-light);
            }

        }

        // Full width background
        // This is great but doesn't allows BG gradients or images (which might be needed for campaigns/minisites)
        &--full-width {
            box-shadow: 0 0 0 100vmax rgb(215, 0, 0);
            clip-path: inset(0 -100vmax);
        }

        &--full-width-2 {
            width: 100vw;
            margin-inline-start: 50%;
            transform: translateX(-50%);
        }

        // Padded for contained colour band
        &--padded {
            @include AU-space(padding-left, 2unit);
            @include AU-space(padding-right, 2unit);
        }
    }
}


// Forced band contents outside of container
.health-band--full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 100vw;
    }
}

.health-band--full-width-2 {
    width: 100vw;
    margin-inline-start: 50%;
    transform: translateX(-50%);
}

.health-band--full-width-3 {
    //Has to be block colour
    box-shadow: 0 0 0 100vmax rgb(215, 0, 0);
    clip-path: inset(0 -100vmax);
}

// Add padding to content before band
:not(.health-band)+.health-band {
    @include AU-space(margin-top, 2.5unit);
}

// My band colours
.health-band--red {
    background: rgb(80, 0, 0);
    @extend %white-text;
}

.health-band--red2 {
    background: rgb(132, 0, 0);
    @extend %white-text;
}

.health-band--red3 {
    background: rgb(215, 0, 0);
    @extend %white-text;
}

.health-band--image {
    background: url('https://p0.piqsels.com/preview/571/469/218/aerial-shot-beach-bird-s-eye-view-from-above.jpg') no-repeat center center/cover;
    min-height: 20rem;

    h2,
    p {
        @include opacity(0.7);
        background: #000;
        color: #FFF;
        display: inline-block;
        @include AU-space(padding, 1unit);

    }
}