// For layout-test
.debug * {
    outline: 1px solid #006565 !important; // applied outlines
    background: rgb(0 134 134 / 10%) !important; // applies BGs to elements
}

p:empty {
    display: none;
}

%more-white-inners {

    .au-introduction,
    a {
        color: #FFF;
    }

    .au-cta-link {
        @extend .au-cta-link--dark;
    }
}

.health-band--primary,
.health-band--secondary,
.health-band--tertiary,
.health-band--tertiary-2 {
    @extend %colour-text-inverse;
    @extend %more-white-inners;
    // TODO apply robust dark/light to components
}