// Resets
p:empty,
.health-card__text:empty {
    display: none;
}

// Animated background
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.au-body {
    .health-band.health-band--animated {
        &.health-band--full-width-bg {
            h2 {
                font-size: 3rem;
            }

            &::before {
                background: linear-gradient(300deg, var(--primary-gradient-bg--start), var(--secondary-gradient-bg--start), var(--tertiary-gradient-bg--start));
                background-size: 180% 180%;
                animation: gradient-animation 15s ease infinite;
            }

            // Full-width
            .health-band__container {
                @include AU-space(padding, 5unit 0);
                text-align: center;
                background: linear-gradient(300deg, var(--primary-gradient-bg--start), var(--secondary-gradient-bg--start), var(--tertiary-gradient-bg--start));
                background-size: 180% 180%;
                animation: gradient-animation 15s ease infinite;

                p {
                    max-width: 100%;
                    margin-bottom: 30px;
                }
            }

            &.health-band--full-width-bg {
                .health-band__container {
                    background: none;
                }
            }
        }

        .health-video {
            max-width: 100%;

            &__transcript {
                max-width: 100%;
            }

            img {
                width: 100%;
            }
        }
    }
}