// In HGA
$covid-19-vaccine-myths-primary: #0092d5;
$colour-datatile-primary-bg: #daf3ff;

.health-tiles {
    @include AU-space("margin-top", 1.5unit);
}

.health-tile {
    @extend .au-callout;
    border-left-color: $covid-19-vaccine-myths-primary;

    &--featured {
        background-color: $covid-19-vaccine-myths-primary !important;
        color: white;

        &.health-tile .health-tile__link {
            @extend .au-display-xl;
            color: white;

            &:hover,
            &:active {
                color: white;
            }
        }
    }

    .health-tile__link {
        @extend .au-display-lg;
        height: 100%;
        @include AU-space(padding-right, 1.625unit);
        @include AU-space(margin-left, 0.5unit);
        min-height: 100px;
        position: relative;
        text-decoration: none;

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }

    &__arrow {
        @include AU-space(height, 1.25unit);
        @include AU-space(width, 1.25unit);
        @include AU-space(bottom, 0.3unit);
        right: 0;
        position: absolute;
    }
}

.au-body {

    .health-tile {
        border-left-color: $covid-19-vaccine-myths-primary;
    }
}

// COVID data tiles
.au-body {
    .health-tile {

        // Data tile style
        &--data {
            background: $colour-datatile-primary-bg;
            border-left: 0;
            color: #000;
            text-align: center;
            @include AU-space(padding, 1unit 0.5unit);
            margin-bottom: 24px;
            min-height: 185px; // In lieu of flexbox

            @include AU-media(sm) {
                min-height: 220px; // In lieu of flexbox
            }
        }

        // Data tile nodes
        &__figure {
            color: #000;
            margin-bottom: 5px;
            @include health-fontgrid('lg', 'heading');

            @include AU-media(lg) {
                margin-bottom: 10px;
                @include health-fontgrid('lg', 'heading');
            }
        }

        &__label {
            color: #000;
            @include health-fontgrid('sm', 'default', 'light');
        }

        &__icon {
            max-width: 50px;
            margin: 0 auto;
            margin-bottom: 10px;

            img {
                max-height: 50px;
            }
        }

        &__currency {
            @include health-fontgrid('xs', 'default', 'light');
            @include AU-space(margin-top, 1unit);
            color: $colour-minorText;
        }
    }
}