<form
  class="webform-submission-form webform-submission-add-form webform-submission-help-us-improve-health-gov-au-form webform-submission-help-us-improve-health-gov-au-add-form webform-submission-help-us-improve-health-gov-au-node-5798-form webform-submission-help-us-improve-health-gov-au-node-5798-add-form js-webform-details-toggle webform-details-toggle"
  data-drupal-selector="webform-submission-help-us-improve-health-gov-au-node-5798-add-form"
  action="#"
  method="post"
  id="webform-submission-help-us-improve-health-gov-au-node-5798-add-form"
  accept-charset="UTF-8"
  data-once="form-updated webform-details-toggle"
  data-drupal-form-fields="edit-h-what-you-were-doing,edit-h-what-went-wrong,edit-actions-submit,edit-url"
>

  <div data-drupal-selector="edit-accordion-container" id="edit-accordion-container" class="js-form-wrapper form-wrapper"><div
      aria-controls="webform_help_us_improve_health_gov_au"
      aria-expanded="false"
      onclick="return AU.accordion.Toggle( this )"
      id="edit-processed-text"
      class="js-form-item form-item js-form-type-processed-text form-item- js-form-item- form-no-label au-form__item"
    >
      <p><a href="#">Is there anything wrong with this page?</a></p>

    </div>
    <div class="au-accordion__body au-accordion--closed js-form-wrapper form-wrapper" id="webform_help_us_improve_health_gov_au" data-drupal-selector="edit-body-container"><div
        data-drupal-selector="edit-wrapper-container"
        id="edit-wrapper-container"
        class="js-form-wrapper form-wrapper"
      ><div id="edit-markup" class="js-form-item form-item js-form-type-webform-markup form-item-markup js-form-item-markup form-no-label au-form__item">
          <h2>Help us improve clinicaltrials.gov.au</h2>
          <p>If you would like a response please use the
            <a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="6198908b-091b-4fe3-a938-30df1db4e858" href="/about-us/contact-us/general-enquiries" title="General enquiries">enquiries&nbsp;form</a>
            instead.</p>

        </div>
        <div class="js-form-item form-item js-form-type-textarea form-item-h-what-you-were-doing js-form-item-h-what-you-were-doing au-form__item">
          <label data-type="textarea" for="edit-h-what-you-were-doing">
            What you were doing?
            <span class="form-required">(mandatory)</span>
          </label>
          <div>
            <textarea
              data-drupal-selector="edit-h-what-you-were-doing"
              id="edit-h-what-you-were-doing"
              name="h_what_you_were_doing"
              rows="5"
              cols="60"
              maxlength="1200"
              class="form-textarea required au-text-input au-text-input--block"
              required="required"
              aria-required="true"
            ></textarea>
          </div>

        </div>
        <div class="js-form-item form-item js-form-type-textarea form-item-h-what-went-wrong js-form-item-h-what-went-wrong au-form__item">
          <label data-type="textarea" for="edit-h-what-went-wrong">
            What went wrong?
            <span class="form-required">(mandatory)</span>
          </label>
          <div>
            <textarea
              data-drupal-selector="edit-h-what-went-wrong"
              id="edit-h-what-went-wrong"
              name="h_what_went_wrong"
              rows="5"
              cols="60"
              maxlength="1200"
              class="form-textarea required au-text-input au-text-input--block"
              required="required"
              aria-required="true"
            ></textarea>
          </div>

        </div>
        <div data-drupal-selector="edit-actions" class="form-actions webform-actions js-form-wrapper form-wrapper" id="edit-actions">

          <input class="webform-button--submit button button--primary js-form-submit form-submit au-btn standard-gap" data-drupal-selector="edit-actions-submit" type="submit" id="edit-actions-submit" name="op" value="Send feedback" />

        </div>
      </div>
    </div>
  </div>
  <input autocomplete="off" data-drupal-selector="form-9jlsdnk-sop1nxofbdo3klz8qrk-jxflkqv2dqpdxrq" type="hidden" name="form_build_id" value="form-9jLSDnK-SOP1nXofbDo3klz8QRK_jXFLKQV2dQpDxrQ" />
  <input data-drupal-selector="edit-webform-submission-help-us-improve-health-gov-au-node-5798-add-form" type="hidden" name="form_id" value="webform_submission_help_us_improve_health_gov_au_node_5798_add_form" />
  <div class="url-textfield js-form-wrapper form-wrapper" style="display: none !important;"><div class="js-form-item form-item js-form-type-textfield form-item-url js-form-item-url au-form__item">
      <label data-type="textfield" for="edit-url">
        Leave this field blank
      </label>
      <input autocomplete="off" data-drupal-selector="edit-url" type="text" id="edit-url" name="url" value="" size="20" maxlength="128" class="form-text au-text-input au-text-input--block" />

    </div>
  </div>

</form>