<div class="health-band {{ band-class }}">
    <div class="health-band__container">
        <h2>{{ band-title }}</h2>
        <p class="au-introduction">{{ band-content }}</p>
        {{> includes/video }}
    </div>
</div>