<div class="health-band {{ band-class }}">
    <div class="health-band__container">
        <div class="row">
           <div class="col-sm-5">
                <h2>{{ band-title }}</h2>
                <p class="au-introduction">{{ band-content }}</p>
                {{> includes/loremipsum }}
                <p><a class="au-cta-link" href="#">See more resources</a></p>
            </div>

            <div class="col-sm-7">
                {{> includes/video }}
            </div>
        </div>
    </div>
</div>