<div class="health-band {{band-class}}">
  <div class="health-band__container">
    <div class="row">
      <div>
        <div class="group-header col-xs-12">
        </div>
        <div class="group-left col-sm-6 col-xs-12">

          <div class="paragraphs-items paragraphs-items-field-first-column paragraphs-items-field-first-column-full paragraphs-items-full">
            <h2 id="coronavirus-helpline">Coronavirus helpline</h2>
            <p>If you need information about COVID-19 or&nbsp;COVID-19 vaccines, call&nbsp;the helpline – open 24 hours, 7 days.</p>
          </div>
        </div>

        <div class="group-right col-sm-6 col-xs-12">

          <div class="paragraphs-items paragraphs-items-field-second-column paragraphs-items-field-second-column-full paragraphs-items-full">
            <h2 id="-1800-020-080"><a class="au-btn au-btn--secondary" href="tel:1800020080"><img
                  height="20"
                  src="/sites/default/themes/custom/health/images/icons/phone-ffffff.png"
                  width="20"
                  class="initial loading"
                  data-was-processed="true"
                /><strong> 1800 020 080</strong></a></h2>
          </div>
        </div>

        <div class="group-footer col-xs-12">
        </div>
      </div>
    </div>
  </div>
</div>