<div class="row entity entity-paragraphs-item paragraphs-item-para-video listing__count--1 health-band--secondary view-mode-full health-band clearfix" about="" typeof="" style="background: #EFE4CA">
  <div class="container">
    <div class="row">

      <div class="col-sm-5">
        <h2>H2 heading</h2>
        {{> includes/loremipsum }}
        <p><a class="au-cta-link" href="#">See more resources</a></p>
      </div>

      <div class="col-sm-7">
        {{> includes/video }}
      </div>

    </div>
  </div>
</div>