<div class="health-band {{ band-class }}">
    <div class="health-band__container">
        <div class="health-band__container-inner">
            <h2>{{ band-title }}</h2>
            <p class="au-introduction">{{ band-content }}</p>
            {{> includes/video }}
        </div>
    </div>
</div>