<div class="health-card {{card-class}}">
  {{#if card-image}}
    <div class="health-card__image">{{>image}}</div>
  {{/if}}
  {{#if card-icon}}
    <div class="health-card__icon">{{>icon}}</div>
  {{/if}}
  <div class="health-card__body">
    <h2 class="health-card__title">{{card-title}}</h2>
    {{#if card-text}}
      <div class="health-card__text">
        <p>{{card-text}}</p>
        {{> link-list-call-to-action }}
      </div>
    {{/if}}
   
  </div>
</div>