<ul class="health-card-list">
  <li class="col-x-12 col-sm-6 col-lg-3">
    <a
      class="health-card health-card--shadow health-card--cta health-card--top-highlight health-card--colour1"
      href="/initiatives-and-programs/national-bowel-cancer-screening-program/about-the-national-bowel-cancer-screening-program"
      style="height: 206px;"
    >
      <h3 class="health-card__title au-display-md" id="learn-about-the-program">Learn about the program</h3>
      <div class="health-card__text">Understand why it's important to have regular bowel screening tests.</div>
    </a>
  </li><li class="col-x-12 col-sm-6 col-lg-3">
    <a
      class="health-card health-card--shadow health-card--cta health-card--top-highlight health-card--colour2"
      href="/initiatives-and-programs/national-bowel-cancer-screening-program/getting-a-bowel-screening-test/who-should-do-the-bowel-screening-test"
      style="height: 206px;"
    >
      <h3 class="health-card__title au-display-md" id="find-out-if-youre-eligible">Find out if you're eligible</h3>
      <div class="health-card__text">Check to see if you should do the bowel screening test.</div>
    </a>
  </li><li class="col-x-12 col-sm-6 col-lg-3">
    <a class="health-card health-card--shadow health-card--cta health-card--top-highlight health-card--colour3" href="/initiatives-and-programs/national-bowel-cancer-screening-program/getting-a-bowel-screening-test" style="height: 206px;">
      <h3 class="health-card__title au-display-md" id="getting-a-bowel-screening-test">Getting a bowel screening test</h3>
      <div class="health-card__text">Find out what's involved in having a bowel screening test.</div>
    </a>
  </li><li class="col-x-12 col-sm-6 col-lg-3">
    <a
      class="health-card health-card--shadow health-card--cta health-card--top-highlight health-card--colour4"
      href="/initiatives-and-programs/national-bowel-cancer-screening-program/getting-a-bowel-screening-test/understanding-your-bowel-screening-test-results"
      style="height: 206px;"
    >
      <h3 class="health-card__title au-display-md" id="understand-what-your-results-mean">Understand what your results mean</h3>
      <div class="health-card__text">Learn what your bowel screening results mean and what happens next.</div>
    </a>
  </li>
</ul>