<div class="layout layout--fourcol-section">

        <div class="layout__region layout__region--first">

          <nav role="navigation">

            <h3>Health and Aged Care</h3>

            <nav>
              <ul class="au-link-list">
                <li>
                  <a href="/about-us?language=en" title="About us" data-drupal-link-system-path="node/1">About us</a>
                </li>
                <li>
                  <a href="/ministers?language=en" title="" data-drupal-link-system-path="node/6183">Ministers</a>
                </li>
                <li>
                  <a href="/about-us/work-with-us?language=en" data-drupal-link-system-path="node/161">Careers</a>
                </li>
                <li>
                  <a href="/about-us/corporate-reporting?language=en" data-drupal-link-system-path="node/166">Corporate reporting</a>
                </li>
                <li>
                  <a href="/about-us/corporate-reporting/freedom-of-information-foi?language=en" title="Freedom of information" data-drupal-link-system-path="node/5266">Freedom of information</a>
                </li>
                <li>
                  <a href="/about-us/contact-us?language=en" title="" data-drupal-link-system-path="node/1576">Contact us</a>
                </li>
                <li>
                  <a href="/contacts?language=en" data-drupal-link-system-path="node/44729">Contacts directory</a>
                </li>
              </ul>

            </nav>

          </nav>

        </div>

        <div class="layout__region layout__region--second">

          <nav role="navigation">

            <h3>Using our websites</h3>

            <nav>
              <ul class="au-link-list">
                <li>
                  <a href="/using-our-websites/about-our-website?language=en" data-drupal-link-system-path="node/1906">About our website</a>
                </li>
                <li>
                  <a href="/using-our-websites/accessibility?language=en" data-drupal-link-system-path="node/2041">Accessibility</a>
                </li>
                <li>
                  <a href="/using-our-websites/copyright?language=en" data-drupal-link-system-path="node/2046">Copyright</a>
                </li>
                <li>
                  <a href="/using-our-websites/disclaimer?language=en" data-drupal-link-system-path="node/2051">Disclaimer</a>
                </li>
                <li>
                  <a href="/using-our-websites/website-privacy-policy?language=en" data-drupal-link-system-path="node/2056">Privacy</a>
                </li>
                <li>
                  <a href="/using-our-websites/social-media?language=en" data-drupal-link-system-path="node/5231">Social media</a>
                </li>
                <li>
                  <a href="/using-our-websites/subscriptions?language=en" data-drupal-link-system-path="node/9162">Subscriptions</a>
                </li>
                <li>
                  <a href="/using-our-websites/vulnerability-disclosure-policy?language=en" data-drupal-link-system-path="node/12245">Vulnerability disclosure policy</a>
                </li>
              </ul>

            </nav>

          </nav>

        </div>

        <div class="layout__region layout__region--third">

          <nav role="navigation">

            <h3>Follow us</h3>

            <nav>
              <ul class="au-link-list">
                <li>
                  <a href="/media-centre?language=en" title="" data-drupal-link-system-path="node/6165">Media centre</a>
                </li>
                <li>
                  <a href="/news?f%255B0%255D=field_audience%3A451&amp;language=en" title="" data-drupal-link-query="{&quot;f%5B0%5D&quot;:&quot;field_audience:451&quot;}" data-drupal-link-system-path="node/44726">News</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/healthgovau" title="Facebook">Facebook</a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/dept-of-health-and-ageing/" title="Linked In">LinkedIn</a>
                </li>
                <li>
                  <a href="https://twitter.com/healthgovau" title="Twitter">Twitter</a>
                </li>
                <li>
                  <a href="https://www.youtube.com/user/healthgovau" title="Youtube">Youtube</a>
                </li>
                <li>
                  <a href="https://www.instagram.com/healthgovau/" title="">Instagram</a>
                </li>
              </ul>

            </nav>

          </nav>

        </div>

        <div class="layout__region layout__region--fourth">
          <div>

            <h3>Help us improve</h3>

            <p>We are always looking for ways to improve our website.</p>

            <p><a class="au-btn au-btn--secondary au-btn--dark standard-gap" href="/about-us/contact-us/website-feedback">Provide feedback</a></p>

          </div>

        </div>

      </div>
      <div class="layout layout--onecol">
        <div class="layout__region layout__region--content">
          <div>

            <div class="au-footer__end">
              <div class="row">
                <div class="col-xs-12">
                  <p class="acknowledgement-of-country">The Department of Health and Aged Care acknowledges the traditional owners of country throughout Australia, and their continuing connection to land, sea and community. We pay our respects to
                    them and their cultures, and to elders both past and present.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="au-footer__end">
                    <p><small>© Commonwealth of Australia | <a href="/">Department of Health and Aged Care</a></small></p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
