<div class="health-layout health-layout--2col">
  <div class="row">
    <div class="{{class-left}}">
      {{contents-left}}
    </div>
    <div class="{{class-right}} standard-gap--mobile-only">
      {{contents-right}}
    </div>
  </div>
</div>