<div class="nav-campaign">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="health-tabs au-link-list au-link-list--inline">
          {{#each campaign-links}}
            <li><a href="{{this.link}}">{{this.label}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>