<nav class="health-pager" role="navigation" aria-labelledby="pagination-heading">
  <h3 id="pagination-heading" class="sr-only">Pages</h3>
  <ul class="pager__items js-pager__items au-link-list au-link-list--inline">
    <li class="pager__item active">
      <span class="visually-hidden">
        Current page
      </span>1
    </li>
    <li class="pager__item">
      <a href="?page=1" title="Go to page 2" rel="nofollow">
        <span class="visually-hidden">
          Page
        </span>2
      </a>
    </li>
    <li class="pager__item">
      <a href="?page=2" title="Go to page 3" rel="nofollow">
        <span class="visually-hidden">
          Page
        </span>3
      </a>
    </li>
    <li class="pager__item">
      <a href="?page=3" title="Go to page 4" rel="nofollow">
        <span class="visually-hidden">
          Page
        </span>4
      </a>
    </li>
    <li class="pager__item">
      <a href="?page=4" title="Go to page 5" rel="nofollow">
        <span class="visually-hidden">
          Page
        </span>5
      </a>
    </li>
    <li class="pager__item">
      <a href="?page=5" title="Go to page 6" rel="nofollow">
        <span class="visually-hidden">
          Page
        </span>6
      </a>
    </li>
    <li class="pager__item">
      <a href="?page=6" title="Go to page 7" rel="nofollow">
        <span class="visually-hidden">
          Page
        </span>7
      </a>
    </li>
    <li class="pager__item">
      <a href="?page=7" title="Go to page 8" rel="nofollow">
        <span class="visually-hidden">
          Page
        </span>8
      </a>
    </li>
    <li class="pager__item">
      <a href="?page=8" title="Go to page 9" rel="nofollow">
        <span class="visually-hidden">
          Page
        </span>9
      </a>
    </li>
    <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
    <li class="pager__item pager__item--next">
      <a href="?page=1" title="Go to next page" rel="nofollow">
        <span class="visually-hidden">Next page</span>
        <span aria-hidden="true">Next ›</span>
      </a>
    </li>
    <li class="pager__item pager__item--last">
      <a href="?page=82" title="Go to last page" rel="nofollow">
        <span class="visually-hidden">Last page</span>
        <span aria-hidden="true">Last »</span>
      </a>
    </li>
  </ul>
</nav>