<aside class="au-side-nav" aria-label="side navigation">
  <div id="nav-default" class="au-side-nav__content">
    <h3 class="au-sidenav__title">
      <a href="/initiatives-and-programs/covid-19-vaccines" class="active-trail">COVID-19 vaccines</a>
    </h3>
    <ul class="au-link-list"><li class="first collapsed menu-mlid-503350"><a href="/initiatives-and-programs/covid-19-vaccines/about-rollout">About the rollout</a></li>
      <li class="leaf menu-mlid-503671"><a href="/initiatives-and-programs/covid-19-vaccines/numbers-statistics">Vaccination numbers and statistics</a></li>
      <li class="collapsed menu-mlid-502989"><a href="/initiatives-and-programs/covid-19-vaccines/approved-vaccines">Approved vaccines</a></li>
      <li class="collapsed menu-mlid-503017"><a href="/initiatives-and-programs/covid-19-vaccines/who-can-get-vaccinated">Who can get vaccinated</a></li>
      <li class="expanded active-trail active menu-mlid-502867"><a href="/initiatives-and-programs/covid-19-vaccines/getting-your-vaccination" class="active-trail active">Getting your vaccination</a><ul class="au-link-list"><li
            class="first leaf menu-mlid-502905"
          ><a href="/initiatives-and-programs/covid-19-vaccines/getting-your-vaccination/locations">Where you can get vaccinated</a></li>
          <li class="leaf menu-mlid-503173"><a href="/initiatives-and-programs/covid-19-vaccines/getting-your-vaccination/no-medicare-card">If you don't have a Medicare card</a></li>
          <li class="leaf menu-mlid-503221"><a href="/initiatives-and-programs/covid-19-vaccines/getting-your-vaccination/before">Before your vaccination</a></li>
          <li class="leaf menu-mlid-502985"><a href="/initiatives-and-programs/covid-19-vaccines/getting-your-vaccination/after">After your vaccination</a></li>
          <li class="leaf menu-mlid-503418"><a href="/initiatives-and-programs/covid-19-vaccines/getting-your-vaccination/booster-doses">Booster doses</a></li>
          <li class="leaf menu-mlid-503673"><a href="/initiatives-and-programs/covid-19-vaccines/getting-your-v%C3%81ccination/vaccination-after-covid-19-infection" title="">If you’ve already had COVID-19</a></li>
          <li class="last leaf menu-mlid-503574"><a href="/initiatives-and-programs/covid-19-vaccines/getting-your-vaccination/stay-up-to-date">Staying up to date</a></li>
        </ul></li>
      <li class="leaf menu-mlid-503352"><a href="/initiatives-and-programs/covid-19-vaccines/certificates">Digital certificates</a></li>
      <li class="leaf menu-mlid-502987"><a href="/initiatives-and-programs/covid-19-vaccines/indigenous">For Aboriginal and Torres Strait Islander people</a></li>
      <li class="collapsed menu-mlid-503202"><a href="/initiatives-and-programs/covid-19-vaccines/disability-sector">For people with disability and service providers</a></li>
      <li class="collapsed menu-mlid-503048"><a href="/initiatives-and-programs/covid-19-vaccines/information-for-aged-care-providers-workers-and-residents-about-covid-19-vaccines">Aged care</a></li>
      <li class="collapsed menu-mlid-502977"><a href="/initiatives-and-programs/covid-19-vaccines/advice-for-providers">For providers and administrators</a></li>
      <li class="leaf menu-mlid-503053"><a href="/initiatives-and-programs/covid-19-vaccines/is-it-true">Is it true? Get the facts</a></li>
      <li class="leaf menu-mlid-502906"><a href="/initiatives-and-programs/covid-19-vaccines/campaign">COVID-19 vaccines campaign materials</a></li>
      <li class="last leaf menu-mlid-503018"><a href="/initiatives-and-programs/covid-19-vaccines/covid-19-vaccines-privacy-and-security-information">COVID-19 vaccines privacy information</a></li>
    </ul>
  </div>
</aside>