<div class="row">
  <div about="/statistic/total-vaccine-doses" typeof="sioc:Item foaf:Document" class="ds-1col node node-statistic view-mode-feature col-sm-4 stat stat--no-trend one-column-wrapper clearfix">

    <div class="wrapper">

      <p class="au-display-xxl">
        60,163,926
      </p>
      <p class="au-display-md--text">
        COVID-19 vaccine doses have been given to Australians
      </p>
      <span class="svg-inline--fa fa-fw"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
          >
          </path>
        </svg></span>
    </div>
  </div>

  <div about="/statistic/covid-19-vaccination-first-dose-percentage" typeof="sioc:Item foaf:Document" class="ds-1col node node-statistic view-mode-feature col-sm-4 stat stat--no-trend one-column-wrapper clearfix">

    <div class="wrapper">

      <p class="au-display-xxl">
        &gt;95%
      </p>
      <p class="au-display-md--text">
        of people aged 16 and over have had their first dose
      </p>
      <span class="svg-inline--fa fa-fw"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
          >
          </path>
        </svg></span>
    </div>
  </div>

  <div about="/statistic/covid-19-vaccination-second-dose-percentage" typeof="sioc:Item foaf:Document" class="ds-1col node node-statistic view-mode-feature col-sm-4 stat stat--no-trend one-column-wrapper clearfix">

    <div class="wrapper">

      <p class="au-display-xxl">
        &gt;95%
      </p>
      <p class="au-display-md--text">
        of people aged 16 and over have had their second dose
      </p>
      <span class="svg-inline--fa fa-fw"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
          >
          </path>
        </svg></span>
    </div>
  </div>

</div>