<div class="au-body health-sub-header health-sub-header--campaign">
  <div class="container">
    <div class="row">
      <div class="health-sub-header__content col-sm-7">
        <h1>{{title}}</h1>
        <p class="au-introduction">
          {{summary}}
        </p>
        <p>
          <a class="au-btn au-btn--dark au-btn--large" href="#">
            {{callout-text}}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>