<div class="health-table__responsive">
  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
    <div id="DataTables_Table_0_filter" class="dataTables_filter au-form__item"><label>Search:<input type="search" class="au-text-input" placeholder="" aria-controls="DataTables_Table_0" /></label></div>
    <table data-tablenumber="38737" class="compact hover dataTable no-footer" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="font-size: 0.8rem;">
      <thead>
        <tr>
          <th class="sorting sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Jurisdiction: activate to sort column descending" style="width: 92.1719px;">Jurisdiction</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Doses administered: activate to sort column ascending" style="width: 102.25px;">Doses administered</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Doses administered reported in the last 24 hours: activate to sort column ascending" style="width: 102.25px;">Doses administered
            reported in the last 24 hours</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="People aged 16+ with at least one dose: activate to sort column ascending" style="width: 56.1875px;">People aged 16+ with at least one
            dose</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="% People aged 16+ with at least one dose: activate to sort column ascending" style="width: 52.8906px;">% People aged 16+ with at least
            one dose</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="People aged 16+ with two doses: activate to sort column ascending" style="width: 53.3281px;">
            People aged 16+ with two doses</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="% People aged 16+ with two doses: activate to sort column ascending" style="width: 52.8906px;">% People aged 16+ with two doses</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="People aged 16+ with a third dose: activate to sort column ascending" style="width: 53.875px;">
            People aged 16+ with a third dose</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="People aged 16+ with a third dose: activate to sort column ascending" style="width: 52.8906px;">
            People aged 16+ with a third dose</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="People aged 5-15 with at least one dose: activate to sort column ascending" style="width: 52.8906px;">People aged 5-15 with at least one
            dose</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="People aged 5-15 with at least one dose: activate to sort column ascending" style="width: 52.8906px;">People aged 5-15 with at least one
            dose</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="People aged 5-15 with two doses: activate to sort column ascending" style="width: 52.8906px;">
            People aged 5-15 with two doses</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="% People aged 5-15 with two doses: activate to sort column ascending" style="width: 52.8906px;">
            % People aged 5-15 with two doses</th>
        </tr>
      </thead>
      <tbody>

        <tr class="odd">
          <td class="sorting_1">ACT</td>
          <td>1,539,481</td>
          <td>1,857</td>
          <td>352,704</td>
          <td>&gt;99%</td>
          <td>347,089</td>
          <td>&gt;99%</td>
          <td>270,201</td>
          <td>78.1%</td>
          <td>52,008</td>
          <td>87.4%</td>
          <td>46,422</td>
          <td>78.0%</td>
        </tr>
        <tr class="even">
          <td class="sorting_1">National</td>
          <td>58,840,032</td>
          <td>55,409</td>
          <td>20,056,775</td>
          <td>97.3%</td>
          <td>19,723,507</td>
          <td>95.7%</td>
          <td>13,641,086</td>
          <td>69.8%</td>
          <td>2,252,942</td>
          <td>64.0%</td>
          <td>1,872,285</td>
          <td>53.2%</td>
        </tr>
        <tr class="odd">
          <td class="sorting_1">NSW</td>
          <td>18,248,719</td>
          <td>17,367</td>
          <td>6,327,238</td>
          <td>96.4%</td>
          <td>6,230,756</td>
          <td>94.9%</td>
          <td>4,162,050</td>
          <td>67.1%</td>
          <td>681,877</td>
          <td>61.6%</td>
          <td>575,274</td>
          <td>52.0%</td>
        </tr>
        <tr class="even">
          <td class="sorting_1">NT</td>
          <td>585,403</td>
          <td>437</td>
          <td>173,939</td>
          <td>91.3%</td>
          <td>169,246</td>
          <td>88.8%</td>
          <td>128,634</td>
          <td>77.0%</td>
          <td>24,053</td>
          <td>63.6%</td>
          <td>18,114</td>
          <td>47.9%</td>
        </tr>
        <tr class="odd">
          <td class="sorting_1">QLD</td>
          <td>11,126,729</td>
          <td>9,909</td>
          <td>3,860,547</td>
          <td>93.9%</td>
          <td>3,796,881</td>
          <td>92.3%</td>
          <td>2,360,803</td>
          <td>62.9%</td>
          <td>414,717</td>
          <td>55.4%</td>
          <td>339,617</td>
          <td>45.4%</td>
        </tr>
        <tr class="even">
          <td class="sorting_1">SA</td>
          <td>4,074,338</td>
          <td>4,771</td>
          <td>1,375,048</td>
          <td>95.5%</td>
          <td>1,345,808</td>
          <td>93.4%</td>
          <td>969,476</td>
          <td>73.0%</td>
          <td>152,463</td>
          <td>65.8%</td>
          <td>126,189</td>
          <td>54.5%</td>
        </tr>
        <tr class="odd">
          <td class="sorting_1">TAS</td>
          <td>1,330,625</td>
          <td>1,531</td>
          <td>444,891</td>
          <td>&gt;99%</td>
          <td>435,855</td>
          <td>&gt;99%</td>
          <td>311,733</td>
          <td>72.3%</td>
          <td>51,547</td>
          <td>72.3%</td>
          <td>44,614</td>
          <td>62.5%</td>
        </tr>
        <tr class="even">
          <td class="sorting_1">VIC</td>
          <td>15,456,758</td>
          <td>13,497</td>
          <td>5,160,486</td>
          <td>95.4%</td>
          <td>5,083,484</td>
          <td>94.0%</td>
          <td>3,644,088</td>
          <td>72.0%</td>
          <td>601,569</td>
          <td>67.8%</td>
          <td>502,645</td>
          <td>56.7%</td>
        </tr>
        <tr class="odd">
          <td class="sorting_1">WA</td>
          <td>6,477,979</td>
          <td>6,040</td>
          <td>2,095,311</td>
          <td>&gt;99%</td>
          <td>2,064,087</td>
          <td>97.6%</td>
          <td>1,677,657</td>
          <td>83.2%</td>
          <td>257,283</td>
          <td>68.2%</td>
          <td>206,502</td>
          <td>54.8%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>