<div class="health-field health-field--inline">
  <div class="health-field__label">Tags:</div>
  <div class="health-field__item">
    <ul class="au-tags au-tags--inline">
      <li><a href="#">Linked tag 1</a></li>
      <li><a href="#">Linked tag 2</a></li>
      <li><a href="#">Linked tag 3</a></li>
    </ul>
  </div>
</div>