<div class="col-xs-6 col-lg-4">
  <div class="health-tile health-tile--data">
    <div class="health-tile__icon">
      <img src="/img/icons/{{tile-icon}}" alt="" />
    </div>
    <div class="health-tile__figure">
      {{tile-figure}}
    </div>
    <div class="health-tile__label">
      {{tile-label}}
    </div>
    <div class="health-tile__currency">
      <p>{{tile-currency}}</p>
    </div>
  </div>

</div>