/* Card styles. */

.health-card--cta {
  @include AU-space(min-height, 12.5unit);
  position: relative;
}

.health-card--cta::after {
  @include AU-space(bottom, 1.625unit);
  @include AU-space(right, 1.125unit);
}

.health-card--cta:hover::after,
.health-card--cta:active::after {
  @include AU-space(bottom, 1.625unit);
  @include AU-space(right, 0.625unit);
}

/* Card text styles. */

.health-card__text.health-card__text {
  margin-top: 0;
}

.health-card__text.health-card__text--cta {
  @include AU-space(margin, 1unit 1.375unit 0 1.375unit);
}

/* Card title styles. */

.health-card__title--centered {
  text-align: center;
}

.health-card__title.health-card__title--light {
  color: $AU-color-foreground-text;
}
