/**
 * @file
 * Custom colours or @GOVAU/health colour overrides.
 */

// COVID-19 vaccine colour palette.
$covid-19-vaccine-main-dark: #3665ae;
$covid-19-vaccine-main-dark-alt1: #4EBDCC;
$covid-19-vaccine-main-light: #84d1db;
$covid-19-vaccine-blue: #1fc3f3;
$covid-19-vaccine-orange: #f47822;
$covid-19-vaccine-red: #b64426;
$covid-19-vaccine-blue-light: #dff2ff;
$covid-19-vaccine-myths-primary: #0092d5;

// Healthy Pregnancy campaign.
$healthy-pregnancy-green: rgb(216, 240, 176);
$healthy-pregnancy-pink: #eb9ca5;
$healthy-pregnancy-yellow: #f9f6d4;
