
.health-sub-header--campaign {
    background-image: url('https://picsum.photos/1920/700') !important; // reqd to override .au-body--dark bg
    }

// Aligned header
.pillars-container {
    border-top: 12px solid #ca1d90 !important;
}

.pillars-container #pillars {
    background: linear-gradient(to right, #d54aa6 0%, #d54aa6 9%, #efbbde 9%, #efbbde 21%, #da61b1 21%, #da61b1 33%, #d54aa6 33%, #d54aa6 39%, #e58ec8 39%, #e58ec8 46%, #efbbde 46%, #efbbde 66%, #d54aa6 66%, #d54aa6 72%, #e58ec8 72%, #e58ec8 92%, #da61b1 92%, #da61b1 100%) !important;
}

.au-main-nav {
    border-bottom-color: #ca1d90;
}